@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
#cabecalho{
    margin: -10px -10px 0px -10px;
    color:white;
    background-color: rgb(51, 51, 51);
    padding: 1%;
    border-radius: 10px;
    height: 12vh;
}
#cabecalho > div{
    margin-top: -20px;
}
#logo{
    font-family: 'Water Brush', cursive;
    font-size: 40px;
}
.menu{
    position:relative ;
    display: flex;
    top: -30px;
    justify-content: end;
    flex-direction: row;
}
.hyperlink-menu{
    margin-left:5%;
    text-decoration:none;
    color:white;
    padding: 1%;
}
.hyperlink-menu:hover{
    color:white;
    background-color:rgb(165, 165, 165);
    border-radius: 5px;
    transition:1s;
}
#services{
    height:50vh;
    margin: -10px -10px 0px -10px;
    padding: 15vh;
    display:grid;
    gap: 10vh 7vw;
    grid-template-columns: auto auto;
    background-image: url("/imagens/section-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family:'Water Brush', cursive;
    font-size:130%;
}
#services > h3{
    position: absolute;
    top: 50px;
    color:white;
    text-align:center;
}
#projects{
    display:flex;
    flex-direction: row;
    overflow:auto;
}
#projects > div{
    border: 1px black solid;
    margin:5%;
    padding: 10px;
    min-width: 130px; 
}